body{
  font-family: 'Pixelify Sans', cursive;
  background-color:#F3FDE8;
  color:#6DA9E4;
  padding: 20px;
  text-align: center;
  line-height: 20px;
}
h1,h2,h3{
  font-family: 'Roboto', sans-serif;
  color:#ADE4DB;
  line-height: 20px;
  font-size: 700;
}
a{
  text-decoration:none;
  color:#F1B4BB;
  font-size:18px;
  font-weight:bold;
  transition:0.3s ease;
}
a:hover{
  color:#FF6969;
}

.card{
  background-color:#FAF3F0;
  border: 1px solid #EAEAEA;
  padding:20px;
  width:500px;
  margin:25px auto;
  border-radius:15%;
}
.container {
  width: 500px;
  margin: 0 auto;
}

#profile-pic{
  width:200px;
  height:200px;
  border-radius:50%
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
